<div class="container-fluid" style="color:#ededed;overflow:auto">
    <div class="row align-items-center" style="background-color:#3b3b3b;color:#ededed;height:50px;">
        <div class="col-12">
            <h4 id="playlistHeading">Devices</h4>
        </div>
    </div>
</div>
<div class="container-fluid" style="color:#ededed;height:630px;overflow:auto;padding-top:15px;" id="deviceData">
    <div class="row" style="padding-top:5px;padding-bottom:15px;">
        <div class="col-12">Name:</div>
        <div class="col-12">Type:</div>
        <div class="col-12">Is Active:</div>
    </div>
</div>