.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    background-color: #1f1f1f;
}

.search.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.fontAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
}

a{
    color: #ededed
}
