<div class="container-fluid footer">
    <div class="row align-items-center" style="background-color:#3b3b3b;height:80px;color:#ededed;" id="currSong">
        <div class="col-3">
            <img src="" id="currSongImage" class="img-fluid">
        </div>
        <div class="col-9">
            <span id="currSongName"></span>
            <div class="row" style="padding-top:5px;">
                <div class="col-12"><i id="playPause" class="fas fa-play"></i></div>
            </div>
        </div>
    </div>
    <div class="row align-items-center" style="background-color:#3b3b3b;height:50px;color:#ad8989;border-top:solid 1px #1f1f1f;">
        <div class="col-4 d-flex justify-content-center align-items-start" style="margin-bottom:10px;margin-top:10px" id="searchIcon">
            <a href="/index">
                <i class=" fas fa-search"></i>
            </a>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-start" style="margin-bottom:10px;margin-top:10px">
            <a href="/devices">
                <i class="fas fa-headphones"></i>
            </a>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-start" style="margin-bottom:10px;margin-top:10px" id="libraryIcon">
            <a href="/library">
                <i class=" fas fa-music"></i>
            </a>
        </div>
    </div>
</div>