<div class="row" style="padding-top:20px">
    <div class="col-4 d-flex justify-content-center align-items-center justify-content-center">
        <button class="form-control btn btn-primary" style="width:100px;" onClick="controlls('play')">Play</button>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center justify-content-center" data-toggle="modal" data-target="#deviceModal">
        <button class="form-control btn btn-secondary" style="width:100px;" onClick="controlls('allDevices')">Device</button>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center justify-content-center">
        <button class="form-control btn btn-primary" style="width:100px;" onClick="controlls('pause')">Pause</button>
    </div>
</div>
<div class="row" style="padding-top:20px">
    <div class="col-4 d-flex justify-content-center align-items-center justify-content-center">
        <button class="form-control btn btn-danger" style="width:100px;" onClick="controlls('volumeDown')">Volume -</button>
    </div>
    <div class="col-4"></div>
    <div class="col-4 d-flex justify-content-center align-items-center justify-content-center">
        <button class="form-control btn btn-success" style="width:100px;" onClick="controlls('volumeUp')">Volume +</button>

    </div>
</div>