<div class="container-fluid" style="color:#ededed;height:570px;overflow:auto">
    <div class="row" style="padding-top:5px;padding-bottom:15px;">
        <div class="col-3">
            <img src="./static/square.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-12">Song name</div>
                <div class="col-12">Artist name</div>
                <div class="col-12">3:46</div>
            </div>
        </div>
    </div>
</div>